*
.about {
    color: rgb(91, 128, 91);
    margin: 5px;
    padding: 10px;
    background-color: rgb(204, 203, 167);
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid;

}

body {
    background-color: rgb(239, 243, 180);
}

.container {
    margin-top: 20px;
    margin-bottom: 30px;
}

