* .about1 {
    text-align: center;
}

.about {
    color: rgb(87, 87, 81);
    margin: 5px;
    padding: 10px;
    background-color: rgb(204, 203, 167);
    margin-top: 25px;
    margin-bottom: 20px;
    border: 1px solid;
    text-align: center;
    border-radius: 20px;
    background: radial-gradient(rgb(226, 219, 219), rgb(168, 160, 160), rgb(209, 206, 206));
    font-family: 'Poppins', sans-serif;
}

.profile {
    border-radius: 50%;
    border: 1px solid;
    border-color: rgb(91, 128, 91);
}

.about1 h1 {
    text-align: left;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 240, 240);
    color: rgb(87, 87, 81);
}


.container {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.containerlinks {
    display: inline-block;

}

.linkedin {
    color: black;
    width: 150px;
    padding: 10px 30px;
    border-radius: 100px;
    text-align: center;
    border: 1px solid black;
    width: 50px;
    margin-top: 10px;
    margin-right: 1000px;
    margin-left: 50px;
    text-decoration: none;
}

.linkedin:hover {
    background-color: rgb(202, 202, 200);
}

.linkedin a {
    text-decoration: none;
}


.github {
    color: black;
    width: 150px;
    padding: 10px 30px;
    border-radius: 100px;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
}


.github:hover {
    background-color: rgb(202, 202, 200);
}

.container-list {
    border: 5px solid;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    width: 800px;



}

.container-list ul {
    list-style: none;
}